@charset "utf-8";
//产品筛选列表
.product-sift{
    width:1390px;
    height:38px;
    margin:0 auto;
    margin-top:10px;
    background:#f8f8fa;
}
//商品分类
.p-sort{
    float:left;
    height:100%;
    padding-right:5px;
    span{
        position:relative;
        cursor:pointer;
        height:16px;
        line-height:16px;
        padding:11px 0;
        float:left;
        overflow: hidden;
        em{
            padding:0 20px;
            i{
                display:inline-block;
                width:9px;
                height:9px;
                margin-left:3px;
                vertical-align:middle;
            }
            i.icon-xjt{
                background:url(../img/listicon.png) no-repeat -220px -257px;
            }
            i.icon-sxjt{
                height:12px;
                background:url(../img/listicon.png) no-repeat -242px -208px;
            }
        }
        b{
            display: block;
            position:absolute;
            width:100%;
            height:3px;
            left:0;
            bottom:-3px;
        }
    }
    span:hover b{
        background:#f60;
        transition:.2s;
        transform:translateY(-3px);
    }
    span:hover{
        color:#f60;
        .icon-xjt{
            background-position:-239px -257px;
        }
        .icon-sxjt{
            background-position:-279px -20px;
        }
    }
}
//价格区间
.price-range{
    padding:0 7px;
    height:100%;
    width:145px;
    float:left;
    .prange-input{
        padding:7px 0;
        input{
            float:left;
            width:36px;
            height:24px;
            border:1px solid #e5e5e5;
            border-radius:2px;
            padding:0 4px 0 14px;
            background:#fff url(../img/listicon.png) no-repeat -186px -126px;
        }
        i{
            float:left;
            margin:0 3px;
            height:24px;
            line-height:24px;
            color:#999;
        }
    }
}
// 高级选项
.adv-options{
    float:right;
    height:38px;
    line-height:38px;
    overflow: hidden;
    label{
        display: inline-block;
        height:26px;
        line-height:26px;
        float:left;
        padding:0 15px 0 0;
        margin:5px 0;
        b{
            float:left;
            margin:5px 5px 0 0;
            display:inline-block;
            width:14px;
            height:14px;
            border-radius:2px;
            border:1px solid #e8e8e8;
            background:#fff;
        }
        span{
            display: inline-block;
            height:26px;
            line-height:26px;
            overflow: hidden;
            img{
                display:inline-block;
                max-height:20px;
                max-width:99px;
                margin-top:3px;
                overflow:hidden;
            }
        }
        // 点击b标签后的样式
        .checkB{
            border-color:#f60;
            background:#f60 url(../img/listicon.png) no-repeat -111px -232px;
        }
    }
}




// 产品列表
.product-list{
    width:1390px;
    min-height:500px;
    margin:0 auto;
    ul{
        width:1400px;
        margin:0 auto;
        border-bottom:32px;
    }
    // 切换页码
    .page-switch{
        margin:0 auto 20px;
        text-align: center;
        .page-switch-box{
            display:inline-block;
        }
    }
}
// 具体的每个商品样式
.p-item{
    width:240px;
    height:420px;
    margin:40px 25px 30px 15px;
    background:#a18298;
    float:left;
}
.product-box{
    height:100%;
    width:240px;
    background-color:#fff;
    .proImg,.proInfo,.proOpt{
        overflow: hidden;
    }
}
// 产品图片样式
.proImg a, .proImg a>img{
    width:240px;
    height:240px;
}
.proImg a>img{
    background:url(../img/loading-list.gif) no-repeat center center;
}

//产品信息
.price-box{
    width:100%;
    height:22px;
    line-height:22px;
    font-size:22px;
    margin-top:12px;
    .common-price{
        line-height:22px;
        font-size:22px;
        margin-top:12px;
        font-family:Tahoma;
        color:#f60;
        font-weight:700;
        i{
            font-weight:normal;
            font-size:12px;
            font-family:Arial;
            margin-right:4px;
        }
    } 
}
// 销售标题
.sell-title{
    width:100%;
    height:60px;
    overflow:hidden;
    margin:8px 0;
    font-size:12px;
    line-height:20px;
    word-break: break-all;
}
// 产品操作
.proOpt{
    width:238px;
    border:1px solid #eee;
    height:28px;
    line-height:28px;
    text-align:center;
    border-radius:3px;
    margin-top:20px;
    .num-select{
        float:left;
        width:71px;
        height:28px;
        overflow:hidden;
        .goodsNum{
            float:left;
            width:45px;
            height:28px;
            line-height:28px;
            text-align:center;
            border:none;
        }
    }
    .add-reduce{
        float:left;
        width:14px;
        height:28px;
        border-left:1px solid #eee;
        overflow: hidden;
        a{
            display:block;
            width:14px;
            height:14px;
            line-height:14px;
            border-top:1px solid #eee;
            overflow: hidden;
            margin-top:-1px;
            background:url(../img/listicon.png) no-repeat;
        }
        .add{
            background-position:-194px -177px;
        }
        .reduce{
            background-position:-170px -176px;
        }
    }
    // 加入购物车
    .addSPcart{
        display: block;
        width:166px;
        float:left;
        height:12px;
        line-height:12px;
        border-left:1px solid #eee;
        padding:8px 0;
        text-align:center;
        i{
            display:inline-block;
            overflow:hidden;
            width:12px;
            height:12px;
            margin-right:2px;
            background:url(../img/listicon.png) no-repeat -135px -208px;
        }
    }
}

//切换页码样式
.page-switch span{
    float:left;
    color:#999;
    height:40px;
    line-height:40px;
    text-align:center;
    padding:0 10px 0 0;
}

.page-switch a{
    float:left;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #F8F8FA;
    text-decoration: none;
    border-radius: 2px;
    font-size: 14px;
    margin-right: 10px;
    position:relative;
    // 父元素z-index默认，子元素设置为负数，定位元素的子元素就可以藏在父元素后面。
    .lion{
        position: absolute;
        display: block;
        background: url(../img/listicon.png) no-repeat -129px -68px;
        width: 40px;
        height: 22px;
        top: 0px;
        left: 0;
        opacity:0;
        z-index:-1;
    }
}

//用户调查
.tell-me-feel a{
    display: block;
    width:180px;
    height:38px;
    text-align:center;
    line-height:38px;
    border:1px dotted #ddd;
    background:#f8f8fa;
    border-radius:20px 20px 0;
    font-size:14px;
    margin-right:30px;
}
.tell-me-feel a:hover{
    background-color: rgb(254, 246, 231);
    border-color:#f60;
}
// 选中的页码样式
.page-switch-box{
    .pncheck{
        background-color:#6a6a6f;
        color:#fff;
        font-weight:bold;
    }
    .draw-back{
        position:relative;
        b{
            display:block;
            width:10px;
            height:17px;
            position:absolute;
            left:50%;
            top:50%;
            margin:-8px 0 0 -5px;
            background:url(../img/listicon.png) no-repeat -260px -163px;
        }
    }
    .progress{
        position:relative;
        b{
            display:block;
            width:10px;
            height:17px;
            position:absolute;
            left:50%;
            top:50%;
            margin:-8px 0 0 -5px;
            background:url(../img/listicon.png) no-repeat -260px -136px;
        }
    }


    // 更多
    .page-more{
        font-size:14px;
        color:#666;
        text-align:center;
        padding:0 5px;
        a{
            display:inline-block;
            float:none;
            margin:0;
            width:60px;
            height:38px;
            line-height:38px;
            overflow: hidden;
            border:1px solid #ddd;
            background:#fff;
            border-right:0;
            border-top-right-radius:0;
            border-bottom-right-radius:0;
            vertical-align:top;
        }
        input{
            width:45px;
            height:16px;
            line-height:16px;
            box-sizing:content-box;
            color:#666;
            margin:0;
            border:1px solid #ddd;
            background:#fff;
            padding:11px 0;
            display: inline-block;
            vertical-align:top;
            margin-left:-5px;
            border-top-right-radius:2px;
            border-bottom-right-radius:2px;
            // 首行缩进
            text-indent:5px;
        }
    }
    //确定按钮
    .pg-confirm{
        width:50px;
        font-size:12px;
        color:#666;
        position:relative;
        b{
            position: absolute;
            display: block;
            background: url(../img/listicon.png) no-repeat 0 -208px;
            width: 16px;
            height: 17px;
            right: -8px;
            top: 15px;
        }
    }
    //鼠标滑过的动画效果

    //鼠标滑过前箭头的效果
    .draw-back:hover{
        background-color:#6a6a6f;
        b{
            background-position:-260px -82px;
        }
        transition:.2s;
    }
    //鼠标滑过后箭头的效果
    .progress:hover{
        background-color:#6a6a6f;
        b{
            background-position:-260px -109px;
        }
        transition:.2s;
    }
    //鼠标滑过确定按钮效果
    .pg-confirm:hover{
        background-color:#6a6a6f;
        color:#fff;
        b{
            display:none;
        }
        transition:.2s;
    }
    //鼠标滑过页码标签的效果
    .Ae:hover{
        background:rgb(229, 229, 229);
        color:rgb(102, 102, 102);
        font-weight:bold;
        .lion{
            transition:all .6s;
            opacity:1;
            top:-22px;
        }
        transition: all .3s;
    }
}

