.my-cart {
  min-width: 1190px;
  margin: 0 auto;
  width: 1190px;
  color: #666;
  margin-top: 20px;
  margin-bottom: 20px;
}

.head-plate {
  margin-bottom: 23px;
}

.head-inner {
  height: 32px;
  border: 1px solid #ddd;
}

.head-inner .Srow {
  float: left;
  height: 32px;
  line-height: 32px;
}

.head-inner .all-check {
  width: 250px;
}

.head-inner .all-check input {
  float: left;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 10px 10px 0;
}

.head-inner .goods-info {
  width: 218px;
}

.head-inner .standard {
  width: 145px;
}

.head-inner .u-price {
  width: 153px;
}

.head-inner .count {
  width: 130px;
}

.head-inner .node {
  width: 175px;
  padding-left: 15px;
}

.head-inner .operate {
  width: 100px;
}

.cargo-info {
  background: #fff;
  margin-bottom: 30px;
}

.cargo-info .cargo {
  border: 1px solid #dfdfdf;
}

.item {
  background: #fffbf2;
  padding: 15px 20px;
}

.item .ic {
  float: left;
  height: 80px;
}

.item .ic-check {
  width: 47px;
  position: relative;
}

.item .ic-check input {
  position: absolute;
  top: 30%;
  transform: 0 50%;
  display: inline-block;
  width: 15px;
  height: 15px;
}

.item .ic-cargo {
  width: 392px;
}

.item .ic-cargo .cargo-pic {
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 15px;
  background: #fff;
  overflow: hidden;
}

.item .ic-cargo .cargo-img-box {
  display: block;
  width: 78px;
  height: 78px;
  border: 1px solid #eee;
  overflow: hidden;
}

.item .ic-cargo .cargo-img-box img {
  display: block;
  width: 80px;
  height: 80px;
  margin: -1px 0 0 -1px;
}

.item .ic-cargo .cargo-intro {
  width: 239px;
  float: left;
}

.item .ic-cargo .cargo-intro .cargo-title {
  display: block;
  margin-bottom: 2px;
  line-height: 18px;
  max-height: 72px;
  color: #333;
  word-break: break-all;
  overflow: hidden;
}

.item .ic-str {
  width: 103px;
}

.item .ic-uprice {
  width: 106px;
}

.item .ic-uprice .uprice {
  text-align: right;
}

.item .ic-uprice i {
  font-family: Arial;
}

.item .ic-count {
  width: 177px;
}

.item .ic-count .item-count {
  padding-left: 76px;
  width: 70px;
  height: 22px;
  /* .minus{
                background-position:-87px 0px;
            } */
  /* .max-count{
                background-position:-111px -24px;
            } */
}

.item .ic-count .item-count a {
  float: left;
  display: block;
  width: 22px;
  height: 22px;
  background-color: #f1f1f1;
  background: url(../img/lion-cart.png) no-repeat;
}

.item .ic-count .item-count .min-count {
  background-position: -87px -24px;
}

.item .ic-count .item-count .plus {
  background-position: -111px 0px;
}

.item .ic-count .item-count .text-count {
  float: left;
  width: 26px;
  height: 20px;
  border: 1px solid #ccc;
  border-width: 1px 0;
  text-align: center;
}

.item .ic-node {
  width: 126px;
  text-align: right;
}

.item .ic-node .nd-price i {
  font-family: Arial;
}

.item .ic-operate {
  width: 58px;
  padding-left: 115px;
  position: relative;
}

.item .ic-operate .ic-del {
  color: #666;
  position: absolute;
  top: 30%;
  transition: 0 -50%;
  cursor: pointer;
}

.cart-toolbar {
  width: 1188px;
  border: 1px solid #ddd;
  height: 58px;
  line-height: 58px;
}

.cart-toolbar .ct-left {
  float: left;
}

.cart-toolbar .ct-left .ct-checkall {
  display: inline-block;
  margin: 0 10px;
  width: 15px;
  height: 15px;
}

.cart-toolbar .ct-left .del-check {
  margin-left: 20px;
  color: #666;
  cursor: pointer;
}

.cart-toolbar .ct-right {
  float: right;
}

.cart-toolbar .ct-right .ct-collect, .cart-toolbar .ct-right .settle-accounts {
  float: left;
}

.cart-toolbar .ct-total-price {
  float: right;
  line-height: 22px;
}

.cart-toolbar .ct-total-price .ctt-split {
  float: left;
  height: 38px;
  width: 1px;
  margin: 12px 16px 0 0;
  background-color: #ddd;
  font-size: 0;
}

.cart-toolbar .ct-sum-price {
  float: left;
  margin-top: 20px;
}

.cart-toolbar .ct-sum-price .sum-text {
  display: inline-block;
}

.cart-toolbar .ct-sum-price .sum-num {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  color: #f60;
}

.cart-toolbar .ct-sum-price .sum-num i {
  font-family: Arial;
}

.cart-toolbar .ct-sum-price .sum-num em {
  font-size: 22px;
}

.cart-toolbar .ct-goods-num {
  float: right;
  text-align: center;
  margin-top: 2px;
  margin-right: 20px;
}

.cart-toolbar .ct-goods-num .ctgNum {
  color: #f60;
  font-size: 14px;
  font-weight: 600;
}

.cart-toolbar .settle-accounts {
  padding-left: 15px;
}

.cart-toolbar .settle-accounts .sa-btn {
  display: block;
  width: 120px;
  height: 60px;
  text-align: center;
  background: #f60;
  margin-top: -1px;
  margin-left: -1px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  font-family: "Microsoft Yahei";
  border-radius: 3px;
}
