body, a {
  color: #666;
}

.wrapper {
  min-width: 1190px;
  margin: 0 auto;
  margin-top: 30px;
}

.wrapper .proinfo-container {
  width: 1190px;
  position: relative;
  min-height: 520px;
  background: #fff;
  margin: 0 auto;
}

.wrapper .proinfo-left {
  position: absolute;
  left: 0;
  top: 0;
  width: 401px;
  height: 520px;
}

.wrapper .imgzoom {
  width: 398px;
  height: 482px;
  position: relative;
}

.wrapper .imgzoom .imgzoom-main {
  width: 400px;
  height: 400px;
  position: relative;
  border: 1px solid #eee;
}

.wrapper .imgzoom .imgzoom-main .imgzoom-main-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://image.suning.cn/uimg/pcms/label10/207304954913795723821280_39.png);
  z-index: 1;
  background-size: 100% 100%;
}

.wrapper .imgzoom .img-view img {
  display: block;
  width: 400px;
  height: 400px;
}

.wrapper .imgzoom .imgzoom-glass {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 200px;
  opacity: 0.4;
  background: #fede4f;
}

.wrapper .imgzoom .imgzoom-pop {
  position: absolute;
  top: 0;
  left: 400px;
  width: 400px;
  height: 400px;
  border: 1px solid #eee;
  background: url(../img/loading.gif) no-repeat center;
  background-size: 18px 18px;
  overflow: hidden;
  z-index: 77;
}

.wrapper .imgzoom .imgzoom-pop img {
  position: absolute;
  left: 0;
  top: 0;
  width: 800px;
  height: 800px;
}

.wrapper .imgzoom .imgzoom-thumb {
  margin-top: 10px;
}

.wrapper .imgzoom .imgzoom-thumb-main {
  position: relative;
  float: left;
  width: 345px;
  height: 64px;
  margin: 0 12px;
  overflow: hidden;
}

.wrapper .imgzoom .imgzoom-thumb-main ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wrapper .imgzoom .imgzoom-thumb-main ul li {
  float: left;
  width: 60px;
  height: 60px;
  border: 2px solid transparent;
  margin-right: 5px;
  cursor: pointer;
}

.wrapper .imgzoom .imgzoom-thumb-main ul li img {
  display: block;
  width: 60px;
  height: 60px;
}

.wrapper .imgzoom .imgzoom-share {
  height: 20px;
  line-height: 20px;
  margin-top: 10px;
  padding: 0;
  color: #999;
}

.wrapper .imgzoom .imgzoom-share .z-item {
  float: left;
  cursor: pointer;
  margin-top: -2px;
  margin-right: 5px;
  line-height: 20px;
}

.wrapper .imgzoom .imgzoom-share .z-item i {
  float: left;
  width: 16px;
  height: 16px;
  margin: 1px 3px 0;
}

.wrapper .imgzoom .imgzoom-share .compare i {
  background: url(https://res.suning.cn/project/pdsWeb/csspc2017/images/f-icons-ex1.png?v=1589532597) no-repeat -739px -984px;
}

.wrapper .imgzoom .imgzoom-share .share i {
  background: url(https://res.suning.cn/project/pdsWeb/csspc2017/images/f-icons-ex1.png?v=1589532597) no-repeat -821px -984px;
}

.wrapper .imgzoom .imgzoom-share .focus i {
  background: url(https://res.suning.cn/project/pdsWeb/csspc2017/images/f-icons-ex1.png?v=1589532597) no-repeat -837px -984px;
}

.wrapper .proinfo-main {
  margin-left: 400px;
  padding: 0 210px 0 10px;
  min-height: 520px;
  z-index: 0;
}

.wrapper .proinfo-main dl dd {
  margin-left: 80px;
}

.wrapper .proinfo-title {
  padding: 13px 10px 12px;
  background: #fff;
}

.wrapper .proinfo-title h1 {
  font-weight: 700;
  color: #222;
  font-size: 16px;
}

.wrapper .proinfo-title h1 span {
  float: left;
  min-width: 42px;
  padding: 0 1px;
  height: 20px;
  margin: 2px 5px 0 0;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  line-height: 20px;
  vertical-align: middle;
}

.wrapper .proinfo-title h1 span.zy {
  background-color: #f50;
}

.wrapper .proinfo-title h2 {
  font-size: 14px;
  color: #f60;
  margin-top: 3px;
}

.wrapper .proinfo-price {
  padding: 14px 0 8px;
  margin-bottom: 15px;
  background: url(https://res.suning.cn/project/pdsWeb/csspc2017/images/price_bg_1.png?v=2017040501);
}

.wrapper .price-container {
  position: relative;
}

.wrapper .price-promo {
  margin-bottom: 2px;
}

.wrapper .price-promo dt {
  float: left;
  width: 70px;
  padding-left: 10px;
  color: #999;
  overflow: hidden;
  margin-top: 8px;
}

.wrapper .price-promo dt span {
  display: inline-block;
  width: 6em;
  font-family: simsun;
  letter-spacing: .5em;
}

.wrapper .price-promo dd {
  width: 380px;
  margin-left: 80px;
  height: 30px;
}

.wrapper .price-promo dd .mainprice {
  height: 28px;
  float: left;
  font: 700 30px/25px Tahoma;
  color: #e00;
}

.wrapper .price-promo dd .btn-price-notice {
  float: left;
  color: #666;
  padding: 0 8px;
  border-radius: 4px;
  margin: 7px 0 4px 5px;
  text-decoration: underline;
}

.wrapper .super-vipbox {
  margin-bottom: 4px;
}

.wrapper .super-vipbox dd {
  line-height: 18px;
  margin-top: 8px;
  overflow: hidden;
}

.wrapper .super-vipbox dd .super-vip-icon {
  float: left;
  width: 13px;
  height: 13px;
  border: 0;
  margin: 2px 6px 4px 0;
  background: url(../img/f-icons-ex1.png) -1042px -277px;
}

.wrapper .super-vipbox dd .super-word {
  font-size: 12px;
  color: #333;
}

.wrapper .super-vipbox dd .more-equity {
  font-size: 12px;
  color: #38d;
  margin-left: 13px;
}

.receive-quan {
  margin-top: 9px;
  padding: 5px 0;
}

.receive-quan dt {
  float: left;
  width: 70px;
  padding-left: 10px;
  color: #999;
  overflow: hidden;
  font-family: simsun;
}

.receive-quan .receive-yhhd {
  display: block;
  height: 14px;
  margin-bottom: 10px;
}

.receive-quan .gua-juan {
  font-size: 12px;
  margin-bottom: 10px;
}

.receive-quan .gua-juan .gua1 {
  float: left;
  display: block;
  width: 65px;
  height: 18px;
  background: url(../img/f-icons-ex1.png) -419px -578px;
  margin-right: 10px;
}

.receive-quan .gua-juan span {
  padding-right: 15px;
  color: #666;
}

.receive-quan .gua-juan .gua2 {
  color: #38d;
}

.receive-quan .promo-list li {
  margin-bottom: 10px;
}

.receive-quan .promo-list li label {
  float: left;
  width: 52px;
  margin-top: 1px;
  height: 16px;
  line-height: 16px;
  color: #f60;
  text-align: center;
  border: 1px solid #f60;
}

.receive-quan .promo-list li .i-triangle {
  float: left;
  display: inline-block;
  border: 4px solid;
  margin: 4px 0 0 4px;
  border-color: transparent transparent transparent #ccc;
}

.receive-quan .promo-list li .promotion-content {
  margin-left: 64px;
  padding-right: 10px;
  overflow: hidden;
  color: #666;
  padding-left: 2px;
}

.receive-quan .promo-list li .promotion-content a {
  color: #38d;
  margin-left: 10px;
}

.receive-quan .promo-list li .prom-info {
  margin-left: 64px;
  padding-right: 10px;
  overflow: hidden;
  color: #666;
  padding-left: 2px;
}

.receive-quan .promo-list li .prom-info a {
  color: #38d;
  margin-left: 10px;
}

.proinfo-deliver {
  margin: 9px 0 13px 0;
  line-height: 28px;
  padding-bottom: 20px;
  border-bottom: 1px dotted #999;
}

.proinfo-deliver dl {
  margin-bottom: 2px;
}

.proinfo-deliver dl dt {
  float: left;
  width: 70px;
  padding-left: 10px;
  color: #999;
  overflow: hidden;
  font-family: simsun;
}

.proinfo-deliver dl dt span {
  width: 6em;
  display: inline-block;
}

.proinfo-deliver dl dt span.pd1 {
  letter-spacing: 2em;
}

.proinfo-deliver dl dd {
  margin-left: 80px;
}

#shcity {
  float: left;
}

#shcity .ui-city {
  float: left;
  display: inline-block;
  line-height: 1 !important;
  font-size: 12px;
  position: relative;
}

#shcity .ui-city a.ui-city-toggle {
  border: 0;
  padding: 7px 6px 6px;
  color: #666;
  margin-left: -6px;
}

.ui-city-toggle {
  display: inline-block;
}

.ui-city-toggle .address-placement {
  float: left;
}

.ui-city-toggle .arr {
  display: inline-block;
  width: 0;
  height: 0;
  border-color: #bbb transparent transparent;
  border-width: 5px;
  border-style: solid dashed dashed;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  margin-right: 5px;
  position: relative;
  top: 5px;
  float: left;
}

.ui-city-toggle span {
  padding-right: 5px;
}

.proinfo-deliver-tip {
  line-height: 26px;
  min-height: 26px;
}

.proinfo-deliver-tip .goods-haveNo {
  padding-right: 10px;
}

.supplier-row {
  position: relative;
  margin-bottom: 0;
  line-height: 20px;
  color: #999;
}

.supplier-row .arriv-infos {
  margin-right: 10px;
  color: #999;
}

.supplier-row a {
  color: #666;
}

.supplier-row a i {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-top: -1px;
  margin-right: 2px;
  background: url(../img/header-contact-self.gif);
}

.buynum {
  margin-top: 20px;
}

.buynum dl {
  margin-bottom: 10px;
}

.buynum dl dt {
  float: left;
  width: 70px;
  padding-left: 10px;
  color: #999;
  overflow: hidden;
  font-family: simsun;
  line-height: 30px;
}

.buynum dl dt span {
  display: inline-block;
  width: 6em;
  font-family: simsun;
  letter-spacing: 2em;
}

.buynum dl a {
  float: left;
  height: 30px;
  width: 22px;
}

.buynum dl .minus {
  background: url(../img/f-icons-ex1.png) -1026px -752px;
}

.buynum dl .plus {
  background: url(../img/f-icons-ex1.png) -1026px -712px;
}

.buynum dl .notminus {
  background: url(../img/f-icons-ex1.png) -1026px -792px;
}

.buynum dl .maxplus {
  background: url(../img/f-icons-ex1.png) -891px -696px;
}

.buynum dl input {
  float: left;
  width: 25px;
  height: 18px;
  padding: 5px;
  border: 1px solid #ddd;
  margin: 0 5px;
  text-align: center;
}

.addScart {
  padding: 8px 0 20px 80px;
  border-bottom: 1px dotted #999;
}

.addScart a {
  float: left;
  margin-right: 10px;
  text-align: center;
}

.addScart .btn-buy {
  background: #663200;
  color: #fff;
  font: 16px/40px Microsoft Yahei;
  font-weight: 600;
  width: 115px;
  height: 40px;
  border-radius: 3px;
  display: block;
}

.addScart .btn-orange-buy {
  background: #f50;
  color: #fff;
  font: 16px/40px microsoft yahei;
  font-weight: 600;
  border-radius: 3px;
  width: 135px;
  height: 40px;
  display: block;
}

.addScart #addCart i {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/f-icons-ex1.png) -1030px -944px;
  vertical-align: middle;
  margin-right: 3px;
  margin-top: -2px;
}

.pro-serv-penal {
  padding-top: 15px;
  margin-bottom: 7px;
}

.pro-serv-penal dt {
  float: left;
  width: 70px;
  padding-left: 10px;
  color: #999;
  overflow: hidden;
  font-family: simsun;
}

.pro-serv-penal dt span {
  display: inline-block;
  width: 6em;
  font-family: simsun;
  letter-spacing: 2em;
}

.proinfo-serv span {
  float: left;
  padding: 0 0 0 18px;
  margin-right: 20px;
  margin-bottom: 4px;
  background: #fff;
  position: relative;
  vertical-align: 1em;
}

.proinfo-serv .icon {
  border: 1px solid #a98c81;
  display: inline-block;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 0;
  top: 1px;
}

.proinfo-serv .spbg i {
  background: url(../img/f-icons-ex1.png) -718px -1003px;
}

.proinfo-serv .qycg i {
  background: url(../img/f-icons-ex1.png) -802px -1003px;
}

.proinfo-serv .wlyth i {
  background: url(../img/qtwlyth.png);
}

.tips {
  width: 448px;
  height: 200px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -224px;
  margin-top: -100px;
  z-index: 8000;
}

.tips .tips-container {
  padding: 6px;
  background: rgba(0, 0, 0, 0.2);
}

.tips .tips-title {
  border: 1px solid #ccc;
  background: #eee;
  position: relative;
}

.tips .tips-title h3 {
  padding: 5px 0;
  padding-left: 10px;
  font-size: 14px;
  font-weight: bold;
}

.tips .tips-title .tips-close {
  display: block;
  width: 14px;
  height: 14px;
  background: url(../img/f-icons-ex1.png) no-repeat -993px -927px;
  position: absolute;
  top: 6px;
  right: 8px;
}

.tips .tips-content {
  padding: 40px 18px  39px 18px;
  border-bottom: 1px solid #eee;
}

.tips .tips-content .tips-succ {
  float: left;
  display: block;
  width: 24px;
  height: 24px;
  margin-top: 4px;
  margin-right: 9px;
  background: url(../img/f-icons-ex1.png) no-repeat -758px -944px;
}

.tips .tips-content span {
  float: left;
  font: 700 14px/32px 'Microsoft YaHei';
}

.tips .tips-content .tips-gocart {
  float: right;
  width: 120px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  font-family: 'Microsoft YaHei';
  font-size: 14px;
  text-align: center;
  background: #f50;
  border-radius: 2px;
}
