.product-sift {
  width: 1390px;
  height: 38px;
  margin: 0 auto;
  margin-top: 10px;
  background: #f8f8fa;
}

.p-sort {
  float: left;
  height: 100%;
  padding-right: 5px;
}

.p-sort span {
  position: relative;
  cursor: pointer;
  height: 16px;
  line-height: 16px;
  padding: 11px 0;
  float: left;
  overflow: hidden;
}

.p-sort span em {
  padding: 0 20px;
}

.p-sort span em i {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 3px;
  vertical-align: middle;
}

.p-sort span em i.icon-xjt {
  background: url(../img/listicon.png) no-repeat -220px -257px;
}

.p-sort span em i.icon-sxjt {
  height: 12px;
  background: url(../img/listicon.png) no-repeat -242px -208px;
}

.p-sort span b {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: -3px;
}

.p-sort span:hover b {
  background: #f60;
  transition: .2s;
  transform: translateY(-3px);
}

.p-sort span:hover {
  color: #f60;
}

.p-sort span:hover .icon-xjt {
  background-position: -239px -257px;
}

.p-sort span:hover .icon-sxjt {
  background-position: -279px -20px;
}

.price-range {
  padding: 0 7px;
  height: 100%;
  width: 124px;
  float: left;
}

.price-range .prange-input {
  padding: 7px 0;
}

.price-range .prange-input input {
  float: left;
  width: 36px;
  height: 24px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  padding: 0 4px 0 14px;
  background: #fff url(../img/listicon.png) no-repeat -186px -126px;
}

.price-range .prange-input i {
  float: left;
  margin: 0 3px;
  height: 24px;
  line-height: 24px;
  color: #999;
}

.adv-options {
  float: right;
  height: 38px;
  line-height: 38px;
  overflow: hidden;
}

.adv-options label {
  display: inline-block;
  height: 26px;
  line-height: 26px;
  float: left;
  padding: 0 15px 0 0;
  margin: 5px 0;
}

.adv-options label b {
  float: left;
  margin: 5px 5px 0 0;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  border: 1px solid #e8e8e8;
  background: #fff;
}

.adv-options label span {
  display: inline-block;
  height: 26px;
  line-height: 26px;
  overflow: hidden;
}

.adv-options label span img {
  display: inline-block;
  max-height: 20px;
  max-width: 99px;
  margin-top: 3px;
  overflow: hidden;
}

.adv-options label .checkB {
  border-color: #f60;
  background: #f60 url(../img/listicon.png) no-repeat -111px -232px;
}

.product-list {
  width: 1390px;
  min-height: 500px;
  margin: 0 auto;
}

.product-list ul {
  width: 1400px;
  margin: 0 auto;
  border-bottom: 32px;
}

.product-list .page-switch {
  margin: 0 auto 20px;
  text-align: center;
}

.product-list .page-switch .page-switch-box {
  display: inline-block;
}

.p-item {
  width: 240px;
  height: 420px;
  margin: 40px 25px 30px 15px;
  background: #a18298;
  float: left;
}

.product-box {
  height: 100%;
  width: 240px;
  background-color: #fff;
}

.product-box .proImg, .product-box .proInfo, .product-box .proOpt {
  overflow: hidden;
}

.proImg a, .proImg a > img {
  width: 240px;
  height: 240px;
}

.proImg a > img {
  background: url(../img/loading-list.gif) no-repeat center center;
}

.price-box {
  width: 100%;
  height: 22px;
  line-height: 22px;
  font-size: 22px;
  margin-top: 12px;
}

.price-box .common-price {
  line-height: 22px;
  font-size: 22px;
  margin-top: 12px;
  font-family: Tahoma;
  color: #f60;
  font-weight: 700;
}

.price-box .common-price i {
  font-weight: normal;
  font-size: 12px;
  font-family: Arial;
  margin-right: 4px;
}

.sell-title {
  width: 100%;
  height: 60px;
  overflow: hidden;
  margin: 8px 0;
  font-size: 12px;
  line-height: 20px;
  word-break: break-all;
}

.proOpt {
  width: 238px;
  border: 1px solid #eee;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border-radius: 3px;
  margin-top: 20px;
}

.proOpt .num-select {
  float: left;
  width: 71px;
  height: 28px;
  overflow: hidden;
}

.proOpt .num-select .goodsNum {
  float: left;
  width: 56px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border: none;
}

.proOpt .add-reduce {
  float: left;
  width: 14px;
  height: 28px;
  border-left: 1px solid #eee;
  overflow: hidden;
}

.proOpt .add-reduce a {
  display: block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  border-top: 1px solid #eee;
  overflow: hidden;
  margin-top: -1px;
  background: url(../img/listicon.png) no-repeat;
}

.proOpt .add-reduce .add {
  background-position: -194px -177px;
}

.proOpt .add-reduce .reduce {
  background-position: -170px -176px;
}

.proOpt .addSPcart {
  display: block;
  width: 166px;
  float: left;
  height: 12px;
  line-height: 12px;
  border-left: 1px solid #eee;
  padding: 8px 0;
  text-align: center;
}

.proOpt .addSPcart i {
  display: inline-block;
  overflow: hidden;
  width: 12px;
  height: 12px;
  margin-right: 2px;
  background: url(../img/listicon.png) no-repeat -135px -208px;
}

.page-switch span {
  float: left;
  color: #999;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding: 0 10px 0 0;
}

.page-switch a {
  float: left;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #F8F8FA;
  text-decoration: none;
  border-radius: 2px;
  font-size: 14px;
  margin-right: 10px;
  position: relative;
  z-index: 3;
}

.page-switch a .lion {
  position: absolute;
  display: block;
  background: url(../img/listicon.png) no-repeat -129px -68px;
  width: 40px;
  height: 22px;
  top: 0px;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=100);
  z-index: 1;
}

.tell-me-feel a {
  display: block;
  width: 180px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  border: 1px dotted #ddd;
  background: #f8f8fa;
  border-radius: 20px 20px 0;
  font-size: 14px;
  margin-right: 30px;
}

.tell-me-feel a:hover {
  background-color: #fef6e7;
  border-color: #f60;
}

.page-switch-box .pncheck {
  background-color: #6a6a6f;
  color: #fff;
  font-weight: bold;
}

.page-switch-box .draw-back {
  position: relative;
}

.page-switch-box .draw-back b {
  display: block;
  width: 10px;
  height: 17px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -8px 0 0 -5px;
  background: url(../img/listicon.png) no-repeat -260px -163px;
}

.page-switch-box .progress {
  position: relative;
}

.page-switch-box .progress b {
  display: block;
  width: 10px;
  height: 17px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -8px 0 0 -5px;
  background: url(../img/listicon.png) no-repeat -260px -136px;
}

.page-switch-box .page-more {
  font-size: 14px;
  color: #666;
  text-align: center;
  padding: 0 5px;
}

.page-switch-box .page-more a {
  display: inline-block;
  float: none;
  margin: 0;
  width: 60px;
  height: 38px;
  line-height: 38px;
  overflow: hidden;
  border: 1px solid #ddd;
  background: #fff;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  vertical-align: top;
}

.page-switch-box .page-more input {
  width: 45px;
  height: 16px;
  line-height: 16px;
  box-sizing: content-box;
  color: #666;
  margin: 0;
  border: 1px solid #ddd;
  background: #fff;
  padding: 11px 0;
  display: inline-block;
  vertical-align: top;
  margin-left: -5px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  text-indent: 5px;
}

.page-switch-box .pg-confirm {
  width: 50px;
  font-size: 12px;
  color: #666;
  position: relative;
}

.page-switch-box .pg-confirm b {
  position: absolute;
  display: block;
  background: url(../img/listicon.png) no-repeat 0 -208px;
  width: 16px;
  height: 17px;
  right: -8px;
  top: 15px;
}

.page-switch-box .draw-back:hover {
  background-color: #6a6a6f;
  transition: .2s;
}

.page-switch-box .draw-back:hover b {
  background-position: -260px -82px;
}

.page-switch-box .progress:hover {
  background-color: #6a6a6f;
  transition: .2s;
}

.page-switch-box .progress:hover b {
  background-position: -260px -109px;
}

.page-switch-box .pg-confirm:hover {
  background-color: #6a6a6f;
  color: #fff;
  transition: .2s;
}

.page-switch-box .pg-confirm:hover b {
  display: none;
}

.page-switch-box .Ae:hover {
  background: #e5e5e5;
  color: #666666;
  font-weight: bold;
}

.page-switch-box .Ae:hover .lion {
  transition: all 1s;
  opacity: 1;
  top: -22px;
}
