.header {
  width: 990px;
  height: 88px;
  margin: 0 auto;
  font-family: "Microsoft Yahei";
}

.header .logo {
  float: left;
  width: 190px;
  height: 100%;
  margin-right: 24px;
  background: url(https://res.suning.cn/project/srsregister/css/image/sprite.png?v=1541754766549) no-repeat;
}

.header .logo-text {
  float: left;
  line-height: 88px;
  color: #666;
  font-size: 18px;
}

.header .login {
  float: right;
  margin-top: 63px;
}

.main {
  font-family: "Microsoft Yahei";
  width: 990px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-top: 3px solid #f90;
  background: #fff;
  padding: 55px 0;
}

.reg-form {
  width: 380px;
  margin: 0 auto;
}

.reg-form .gift-pkg {
  margin-bottom: 17px;
  padding-left: 2px;
  font-size: 14px;
  line-height: 17px;
}

.reg-form .gift-pkg i {
  float: left;
  width: 19px;
  height: 17px;
  margin-right: 6px;
  background: url(https://res.suning.cn/project/srsregister/css/image/sprite.png?v=1541754766549) -75px -93px no-repeat;
}

.reg-form .gift-pkg em {
  color: #f40;
}

.reg-form .error-msg {
  height: 22px;
  line-height: 22px;
  margin: -25px 0 3px;
  color: red;
}

.reg-form .input-box {
  width: 378px;
  height: 38px;
  border: 1px solid #ccc;
  line-height: 38px;
  margin-bottom: 25px;
}

.reg-form .input-box .title {
  float: left;
  width: 76px;
  padding-left: 11px;
}

.reg-form .input-box .input-wrapper {
  float: left;
  height: 100%;
  width: 291px;
  position: relative;
}

.reg-form .input-box .input-wrapper input {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: #333;
  border: 0;
}

.reg-form .input-box .input-wrapper .placeholder {
  position: absolute;
  left: 0;
  top: 0;
  color: #cacaca;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.reg-form .errorAndlevel {
  height: 50px;
}

.reg-form .errorAndlevel .error-msg {
  margin: 0;
}

.reg-form .errorAndlevel .security-level {
  line-height: 22px;
}

.reg-form .errorAndlevel .security-level span {
  float: left;
}

.reg-form .errorAndlevel .security-level .level {
  width: 50px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  color: #fff;
  margin: 3px 2px 0 0;
  background: #cacaca;
}

.reg-form .submit-btn {
  display: block;
  text-align: center;
  border-radius: 2px;
  width: 100%;
  line-height: 40px;
  font-size: 20px;
  background: #f60;
  color: #fff;
  margin: 24px 0 5px;
  border: 0px !important;
  cursor: pointer;
}

.reg-form .enter-reg {
  color: #f60;
  font-size: 14px;
  height: 21px;
}

.reg-form .enter-reg i {
  float: left;
  width: 17px;
  height: 15px;
  background: url(https://res.suning.cn/project/srsregister/css/image/sprite.png?v=1541754766549) -141px -93px no-repeat;
  margin: 3px 5px 0 0;
}
